<Configuration status="INFO">
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
        	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</Console>
		<File name="File" fileName="app.log" immediateFlush="false" append="true">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
	</Appenders>
    <Loggers>
    	<Logger name="file" level="info">
      		<AppenderRef ref="File"/>
    	</Logger>
        <Root level="debug">
        	<AppenderRef ref="Console"/>
    	</Root>
	</Loggers>
</Configuration>